 @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');
 body, html {
     height: 100%;
     margin: 0;
     padding: 0;
 }
 
 
 body {
    background-image: url(images/MissMatch.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
 }
 
 
 .preloader{
          /*
          Making the preloader floating over other elements.
          The preloader is visible by default. 
          */
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          z-index: 1000;
          
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
      }
      
      
 
.preloader p.spacerUp {
   flex:1;
}

.preloader p.spacerBottom {
   flex:3;
}


.red {
    border: 3px solid red;
    padding: 0;
}


.cyan {
    border: 3px solid cyan;
}

.yellow {
    border: 3px solid yellow;
}

.coral {
    border: 3px solid coral;
}



.blue {
    border: 3px solid blue;
}

.container-fluid, .container {
    padding: 0 !important;
}
header {
    height: 80px;
    background-color: #6F11F7;
    margin:0;
    padding:0;
}
#t-cards {
    padding-top: 80px;
     opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
    font-family: 'Azeret Mono', monospace;
}
.img-fluid{
       width: 6.2rem;
    border-radius: 5rem;
    margin: 1.3rem auto 1rem auto
    
}
.imagenPerfil{
    display: inline-block;
    
}
footer {
    width: 100%;
    height: 80px;
   background-color: #6F11F7;
    margin:0;
    padding:0;
    position: absolute;
    left:0;
    bottom:0;
}
 
 a {
     text-decoration: none !important;
 }
 .container {
    max-width: 950px
}
 .form-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height:auto;
    
 }
 .card {
    border-radius: 1rem;
    box-shadow: 0px -10px 0px rgb(151, 248, 6)
}

@media(max-width:767px) {
    .card {
        margin: 1rem 0.7rem 1rem;
        max-width: 80vw
    }
}
.grid-container{
    display:grid;
}

.col-md-4 {
    padding: 0 0.5rem
}

.card-title {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'IM Fell French Canon SC'
}

.card-text {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    color: rgb(82, 81, 81);
    line-height: 1.4rem
}

.login {
    border: 1px solid rgba(100,100,100,.5);
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.8);
    box-sizing:border-box;
    margin-top: 10vw;
    color:white;
    padding: 30px;
    background-color: #e53935;
       opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
    font-family: 'Azeret Mono', monospace;
}
.register {
    border: 1px solid rgba(100,100,100,.5);
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.8);
    box-sizing:border-box;
    margin-top: 10vw;
    padding: 30px;
    font-size:15px;
    background-color: #e53935;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
    color:white;
    font-weight: bold;
    font-family: 'Azeret Mono', monospace;
    display: grid;
    grid-template-columns: auto auto;
}
.row{
    height:auto;
}



.enviado{
    display: inline-block;
    background-color: green;
    color: white;
    width: 100%;
    font-weight: 300;
}
.card-img-top{
    border-radius:10%;
   box-sizing:border-box;
}
.required{
    color:red;
    font-size: 20px;
    font-weight: 400;
    margin-left: 120px;
}
.errors {
    width:100%;
    font-family: Arial;
}
.card{
    display:flex !important;
}
body {
    background-color: #eee
}

.my-card {
    display: grid;
    -ms-grid-direction: column;
    grid-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0px 0px 8px;
    margin-bottom: 28px;
    border-radius: 35px 0;
    overflow: hidden;
    transition: .5s;
    grid-template-columns: auto auto;
}

.my-card:hover {
    box-shadow: 0px 0px 8px #c81a3b
}

.my-card img {
    max-height: 250px;
    width: 100%
}

.my-card-body {
    padding: 20px;
    margin-bottom: 20px
}

.my-card-body h5 {
    text-transform: capitalize;
    line-height: 25px;
    font-size: 25px
}

.my-card-body p {
    margin: 10px 0;
    color: #f7941d
}

.social-icons {
    margin-bottom: 25px
}

.social-icons a {
    margin-right: 22px;
    color: #363842;
    font-size: 16px
}

.social-icons a:hover {
    color: #c81a3b
}

.my-card-btn {
    color: rgb(231, 231, 231);
    background-color: #c81a3b;
    padding: 10px 28px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 10px 0;
    transition: .5s
}

.my-card-btn:hover {
    color: rgb(15, 15, 15)
}

.mt30 {
    margin-top: 30px;
}

form h2 {
    width: 100%;
    text-align:center;
    margin-bottom: 20px;
   
     
}

.pushright {
    text-align: right;
    
}

.fila1, .fila2 {
    height: 200px;
    
}

.fila1 {
    margin-top: 10% !important;
}

.mt30{
    margin-top: 10px;
}
.col-md-8{
    height:100%;
}

.formquestionarie{

    background-color:rgba(255, 255, 255, 0.8);
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
}

fieldset{
    border: solid gray 2px !important;
    padding: 1em;
    margin: 1em;
    width: auto;
    height: auto;
}

.submit{
    margin-top: 3em;
    width: 100%;
    text-align: center;
}

.copy {
    width: 100%;
    text-align: center;
    font-size: .7rem;
    color: white;
    margin-top: 30px;
}

.logo {
    width: 120px;
    height: 60px;
 
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    background-image: url('images/LOGITO.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

nav {
    width: 80%;
    height: 60px;
    
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    text-align: right;
    line-height: 60px;
}



.messi {
    height: 80vh;
    position: relative;
    right: 3vw;
    display: none
    
}

.title {
    width: 90%;
    background-color: rgb(255, 255, 255, 0.2);
    font-size: 3vw;
    padding: 0vw;
    color: black;
    animation-name: first;
    animation-duration: 1s;
    animation-fill-mode: forwards
}

@keyframes first {
    from {
        width: 0%;
        font-size: 0vw;
        padding: 0vw
    }

    to {
        width: 90%;
        font-size: 3vw;
        padding: 0.5vw
    }
}


.card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer
}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #E1BEE7;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #8E24AA;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:hover::after {
    transform: scaleY(1)
}

.fonts {
    font-size: 11px
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0
}

.social-list li {
    padding: 10px;
    color: #8E24AA;
    font-size: 19px
}

.buttons button:nth-child(1) {
    border: 1px solid #8E24AA !important;
    color: #8E24AA;
    height: 40px
}

.buttons button:nth-child(1):hover {
    border: 1px solid #8E24AA !important;
    color: #fff;
    height: 40px;
    background-color: #8E24AA
}

.buttons button:nth-child(2) {
    border: 1px solid #8E24AA !important;
    background-color: #8E24AA;
    color: #fff;
    height: 40px
}
.details {
    width: 90%;
    height: 0vh;
   background-color: #e53935;
    margin: auto;
    padding: 0vw;
    color: black;
    animation-name: second;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s
}

@keyframes second {
    from {
        height: 0vh;
        padding: 0vw
    }

    to {
        height: 75vh;
        padding: 1vw
    }
}

tr {
    border: 2px solid rgb(0, 0, 0, 0.0)
}

.bio {
    font-size: 1.2vw
}

.stats {
    background-color: #e53935;
    width: 0%;
    color: gold;
    height: 3vw;
    font-size: 0vw;
    padding: 0vw;
    animation-name: fourth;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s
}

@keyframes fourth {
    from {
        width: 0%;
        font-size: 0vw;
        padding: 0vw
    }

    to {
        width: 100%;
        font-size: 1.5vw;
        padding: 0.5vw
    }
}

.ss {
    position: relative;
    bottom: 80vh;
    left: 21vw;
    font-size: 3vw;
    color: gold
}

.bigno {
    position: relative;
    bottom: 82vh;
    left: 20vw;
    font-size: 5vw;
    color: gold
}

.flag {
    height: 1.5vw;
    width: 2vw;
    position: relative;
    bottom: 0.2vw
}

@media only screen and (max-width: 425px) {
    .main {
        width: 100vw;
        height: 270vw;

    }

    .bio {
        font-size: 3.6vw
    }

    .stats {
        height: 9vw
    }

    .flag {
        height: 5.4vw;
        width: 6vw
    }

    .messi {
        height: 200px;
        position: relative;
    }

    .ss {
        position: relative;
        bottom: 80vw;
        left: 70vw;
        font-size: 5vw
    }

    .bigno {
        position: relative;
        bottom: 84vw;
        left: 68vw;
        font-size: 8vw
    }
}